<div class="user-profile">
  <div class="icon">
    <%= image_tag('icon.png', {alt: ""}) %>
  </div>
  <div class="name">
    <h1>Taro Kirameki</h1>
  </div>
  <div class="status">
    <ul>
      <li>
        <div class="status-label">FOLLOWING</div>
        <div class="status-value">96</div>
      </li>
      <li>
        <div class="status-label">FOLLOWERS</div>
        <div class="status-value">242</div>
      </li>
      <li>
        <div class="status-label">WANT</div>
        <div class="status-value">10</div>
      </li>
      <li>
        <div class="status-label">HAVE</div>
        <div class="status-value">52</div>
      </li>
    </ul>
    <button class="btn btn-success btn-round">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Follow
    </button>
    <button class="btn btn-info btn-round">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      Following
    </button>
  </div>
</div>
<div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="item-box">
      <div class="image">
        <div class="img-wrap">
          <%= image_tag('pic1.jpg', {alt: ""}) %>
        </div>
      </div>
      <div class="detail">
        <p class="title">商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル</p>
        <p class="user">by <%= link_to "Taro", "#" %></p>
      </div>
      <div class="action">
        <button class="btn btn-danger btn-sm">Want</button>
        <button class="btn btn-warning btn-sm">Have</button>
        <button class="btn btn-info btn-sm">詳細</button>
      </div>
    </div>
    <div class="item-box">
      <div class="image">
        <div class="img-wrap">
          <%= image_tag('pic2.jpg', {alt: ""}) %>
        </div>
      </div>
      <div class="detail">
        <p class="title">商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル</p>
        <p class="user">by <%= link_to "Taro", "#" %></p>
      </div>
      <div class="action">
        <button class="btn btn-danger btn-sm">Want</button>
        <button class="btn btn-warning btn-sm">Have</button>
      </div>
    </div>
    <div class="item-box">
      <div class="image">
        <div class="img-wrap">
          <%= image_tag('pic1.jpg', {alt: ""}) %>
        </div>
      </div>
      <div class="detail">
        <p class="title">商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル</p>
        <p class="user">by <%= link_to "Taro", "#" %></p>
      </div>
      <div class="action">
        <button class="btn btn-danger btn-sm">Want</button>
        <button class="btn btn-warning btn-sm">Have</button>
        <button class="btn btn-info btn-sm">詳細</button>
      </div>
    </div>
    <div class="item-box">
      <div class="image">
        <div class="img-wrap">
          <%= image_tag('pic2.jpg', {alt: ""}) %>
        </div>
      </div>
      <div class="detail">
        <p class="title">商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル商品タイトル</p>
        <p class="user">by <%= link_to "Taro", "#" %></p>
      </div>
      <div class="action">
        <button class="btn btn-danger btn-sm">Want</button>
        <button class="btn btn-warning btn-sm">Have</button>
      </div>
    </div>
  </div>
</div>